$color-text: #1D1D1D;
$color-accent: #D7B56D;
$color-phone-hover:#95793c;
$color-hover-add:#95793c;
$color-light: rgb(255, 255, 255);
$color-bg: #1D1D1D;
$color-bg-section:#F4F3E4;

$color-bg-add: rgba(29, 29, 29, 0.7);
$color-dark:rgb(0, 0, 0);
$color-dark-medium:rgba(0, 0, 0, 0.5);
$color-modal-bg:rgb(45, 45, 45);
$color-bg-form:#4E4E4E;
$color-border:rgba(255, 255, 255,0.5);
$color-gray:rgba(255, 255, 255,0.5);
