$color-dark-color: rgb(1, 8, 1);
$color-dark-light: rgba(1, 8, 1, 0.5);
$color-light: rgba(255,255,255,.5);
$color-white: rgb(255, 255, 255);
$color-light-bg: rgba(255,255,255,.1);
$color-main-color: #ff0;
