.footer  {
    background: $color-dark-color;
    height: 100%;
    & .container {
        padding: 3rem;
    }
    & .logo {
        color: $color-light;
        font-size: 2.2rem;
    }       
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //*mobile
    @media (max-width: 767px) {
    justify-content: center;
    }
}

.footer .container .box {
//*mobile
@media (max-width: 767px) {
   display: none;
    }
}

.footer .container .box a {
    display: block;
    text-decoration: none;
    color: $color-light;
    line-height: 1.5;
}         

