.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, transparent, $color-dark-color);
    z-index: 1000;     
}

.header .row {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2.5rem;
    margin: 0 auto;
}

.header .row .navbar a {
    margin-right: 2rem;
    font-size: 1.8rem;
    color:$color-light;
    transition: .2s linear;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color:$color-white;
    }
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color:$color-white;
    display: none;    
}

//* media queries/
@media(max-width:991px) {
    #menu-btn {
        display: inline-block;
    }
    .header .row {
        position: relative;
    }
    .header .row .navbar {
        position: absolute;
        top:100%;
        left:2rem;
        right: 2rem;
        margin: 0 auto;
        background-color: $color-dark-light;
        backdrop-filter: blur(.6rem);
        border-radius: .5rem;
        width: 90%;
        padding: 1.5rem 0;

        transform: scale(0);
        transform-origin: top right;
        transition: .2s linear;
    }
    .header .row .navbar.active {
        transform: scale(1);
    }
    .header .row .navbar a {
        display: block;
        padding:.5rem 0.5rem;
        margin: 0.5rem 1.5rem;
        color:$color-white;
        border-radius: .5rem;
        &:hover {
            background-color: $color-light-bg;
        }
    }
}