.navigation {
    padding: 20px 0px;
    background-color: $color-bg;
}

.navigation__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation__links {
    display: flex;
    //*tablet big
    @media (max-width: 1199px) {
    display: none; 
    }
}

.navigation__link {
    width: 115px;
    position: relative;
    padding:0 7px 0;
    color:$color-light;
    text-transform: uppercase;
    text-align: center;
    @include font (1.4rem, 1.2, normal);
    @extend %transition;
    cursor: pointer;
        
    &:hover {
        color:$color-accent;
        text-decoration: underline;
        &.navigation__link::before {
            display: block;
        }
    }
}

.navigation__link::before {
    display: none;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background:url('../img/icons/icon-nav.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%,50%);
    left:50% ; 
    top:50%  ;
}

.navigation__phone {
    //*tablet big
    @media (max-width: 1199px) {
        display: none; 
    }
}

.phone {
    .icon {
        margin-right: 10px;
    }
}
.phone__link {
    display: flex;
    align-items: center;
    color:$color-accent;
    @include font (2.0rem, 1.3, normal);
    &:hover {
        color:$color-phone-hover; 
    }
}

.phone__text {
    text-align: right;
    color:$color-accent;
    @include font (1.2rem, 1.3, normal);
    text-transform: uppercase;
}