.section-about-us {
    padding: 60px 0;
}
.about-us {
    width: 100%;
}

.about-us__title {
    text-align: left;
    margin-bottom: 30px;
}

.about-us__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px; 
}

.about-us__item {
    display: block;   
    width: 23%;
    border-top: 6px solid $color-accent;
    //*mobile
    @media (max-width: 767px) {
        width: 48%;       
    }
}

.about-us__number {   
    padding: 20px 0;
    @include font (5rem, 1.2, bold);
    text-align: center;
}

.span-index {
    @include font (2.5rem, 1.2,normal);
}

.about-us__text {
    @include font (1.6rem, 1.2, normal);
    text-align: center;
}