.section-work {
    padding: 80px 0px;
    height: 100%;
}

.work__description {
    display: flex;
    margin-bottom: 50px;
    @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 20px;
    }
}

.work__title {
    width: 50%;
    @media (max-width: 767px) {
        width: 100%;
    }
}

.work__content {
    width: 50%;
    padding-top: 30px;
    border-top: 3px solid $color-accent;
    @media (max-width: 767px) {
        width: 100%;    
    }
}

.work__text {   
    text-indent: 30px;
    text-align: justify;
    @include font (1.8rem, 1.8, 400);
}

.work__image {
    width: 90%;
    margin: 0 auto;
}

.process {
    padding-top: 60px;
}

.process__title {
    margin-bottom: 30px;
    h2 {
        text-align: center;
    }
}

.process__items {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    column-gap: 20px;    
    row-gap: 20px;
}

.item {
    position: relative;
    display: block;
    width: 22%;
    //*mobile
    @media (max-width: 767px) {
        width: 30%;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 45%;
    }
}

.item__icon {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: $color-accent;
    border-radius: 25px;
    margin-bottom: 25px;
    @include font (2rem, 1.2, bold);
}

.item__icon::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background: $color-accent;
    left: 60px;
}

.item__text {
    @include font (1.6rem, 1.8, normal);
}