.section-description {
    padding: 60px 0;
    background:$color-bg;
}

.description {
    width: 100%;
}

.description__title {
    margin-bottom: 80px;
    //*mobile
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
    h2 {
        color:$color-light;
    }   
}

.description__content {
    width: 100%;
    display: flex;
    //*mobile
    @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 40px;
    }           
}

.description__pictures {
    padding-top: 40px;
    margin-right: 131px;
    z-index: 2;
    position: relative;
    width: 46%;
    height: 100%;
    display: flex;
    column-gap: 20px;
    //*tablet small
    @media (max-width: 991px) {
       width: 66%;
    }
    //*mobile
    @media (max-width: 767px) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 85%;
    }       
}

.description__pictures::before {
    content: "";
    position: absolute;
    z-index: -1;
    top:10px;
    left: -5%;
    width: 422px;
    height: 440px;
    border: 2px solid $color-accent;
    //*tablet big
    @media (max-width: 1199px) {
        width: 322px;
        height: 340px;
    }
    //*mobile
    @media (max-width: 767px) {
        height: 240px;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 222px;
        height: 220px;
    }             
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.column-1__image {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }    
}

.column-2 {
    width: 50%;  
}

.column-2__image {
    width: 100%;   
}

.description__list {
    width: 24%;
    //*mobile
    @media (max-width: 767px) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 80%;
    }
}

.description__item {
    padding: 10px 0;
    border-top: 0.5px solid $color-border;
}

.ico-01 {
    background: url('../img/icons/01.svg');    
}

.ico-02 {
    background: url('../img/icons/02.svg');   
}

.ico-03 {
    background: url('../img/icons/03.svg');    
}

.ico-04 {
    background: url('../img/icons/04.svg');   
}

.ico-05 {
    background: url('../img/icons/05.svg');    
}

.ico {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}

.description__text {
    color:$color-light;
    @include font (1.6rem, 1.2, normal);
}