.btn {
   display: inline-block;
    border-radius: .5rem;
    padding: 1.2rem 3rem;
    margin-top: 1rem;
    background-color: $color-main-color;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    transition: .2s linear;
    &:hover {
        background-color: $color-dark-color;
        color:$color-white;
    }
}
