.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: $color-modal-bg;
    transform: translateX(100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //*tablet small
    @media (max-width: 991px) {
        width: 50%;
    }
    //*mobile
    @media (max-width: 767px) {
        width: 70%;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 100%;
    }
}

.modal a {
    padding: 15px 0;
    margin-right: 0;
    font-size: 2.8rem;
    color:$color-light;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    @extend %transition;
    &:hover {
        border-bottom: 2px solid $color-accent;
    }
}

.modal__link:last-child {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.modal.modal--active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in;   
}
    
    

