html {
    max-height: 10000000px;
    min-height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    
    //*tablet small
    @media (max-width: 991px) {
        font-size: 55%;
    }            
}

body { 
    min-height: 100vh;  
    background: $color-dark-color;
    overflow-x: hidden;
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */
    

	font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    font-weight: 400;
    color:$color-light;
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

* {
    font-family: 'Comfortaa', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    scrollbar-color: var(--main-color) var(--black);
    scrollbar-width: thin;
}

*::selection {
    background-color: $color-main-color;
    color:$color-dark-color;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $color-white;
}

.heading {
    font-size: 7rem;
    color:$color-white;
    text-transform: uppercase;
    text-align: center;
    text-align: center;
    margin-bottom: 4rem;
    //*tablet big
    @media (max-width: 1199px) {
        font-size: 6rem;
    }
    //*tablet small
    @media (max-width: 991px) {
        font-size: 5rem;
    }
    //*mobile
    @media (max-width: 767px) {
        font-size: 4rem;
       }
    //*mobile xs
    @media (max-width: 575px) {
        font-size: 3rem;
    }
}

section{
    width: 100%;
    margin: 0 auto;
    padding: 7rem 0;
}

/* Grid styles */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* Utility */

.none {
	display: none !important;
}

.container {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-left: 15px;
    padding-right: 15px;    

    //*tablet big
    @media (max-width: 1199px) {
        width: 900px;
    }
    //*tablet small
    @media (max-width: 991px) {
        width: 720px;
    }
    //*mobile
    @media (max-width: 767px) {
        width: 540px;
       }
    //*mobile xs
    @media (max-width: 575px) {
        width: 320px;
    }
}